<launch>

	<!-- Launch files -->
	<include file="$(find capra_thermal_cam)/launch/capra_thermal_cam.launch" />
	<include file="$(find usb_cam)/launch/usb_cam.launch" />
	<include file="$(find ti_mmwave_rospkg)/launch/awr1843boost.launch" />

	<!-- Record bag -->
	<node name="bag_record" pkg="rosbag" type="record"
		args="record -o /home/sai/final_data/data2 /capra_thermal_cam/image_raw /usb_cam/image_raw /ti_mmwave/radar_scan" />

</launch>
